body{
	background-color: #004400;
	color:white;
	text-shadow:1px 1px black;
}
h1{
	text-align: center;
	font-size: 50px;
	color : white;
	text-shadow:2px 2px black;
}
ul {
margin-left:384px ;
padding: 0;
list-style: none;
}
button{
display: block;
text-align: center;
font-size: 1.2em;
width: 180px;
color: white;
background-color:#003300;
padding: 10px 15px;
margin: 0px 1px 1px 0px;
border: 1px solid navy;
border-radius: 3px;
transition: background-color .5s;
float:left;
}
button:hover{
color: white;
background:#006600 ;
border: 1px solid blue;
}
.nav {
 width: 1910px;
 float: center;
}
.header {
	width: 1910px;
	float: center;
}
p{
	font-size:20px;
}
img
{
	border:1px #556B2E;

}
.image{
	float: left;
	margin: 5px;
}
.blocks1{
	border:1px;
}